/* Filename - App.css */
/* It containds the Form and Page Styling*/

body {
  background: #f3f3f3;
  text-align: center;
}
.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(98, 66, 236, 0.322);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: center;
  margin-top: 20px;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: #3720ff;
}
h3 {
  font-size: x-large;
  text-align: center;
  color: #3d3bc9;
}
h4 {
  font-size: x-large;
  text-align: center;
  color: #3d3bc9;
}

fieldset {
  border: none;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: 10%;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #130d66;
  font-weight: bold;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  border: none;
  color: rgb(66, 53, 182);
  cursor: pointer;
  background-color: #c0b2ff;
  width: 40%;
  font-size: 16px;
}
textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}

.progressbar {
  width: 400px;
  height: 10px;
  background-color: #ffffff;
  margin: 50px;
}

.progressbar div {
  width: 25%;
  height: 100%;
  background-color: #3d3bc9;
}
.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}
.result {
  margin-top: 1rem;
}
.toppings-list,
.total {
  width: 30%;
  margin: 0 auto;
}

.toppings-list {
  list-style: none;
  padding: 0;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}

.toppings-list-item {
  display: flex;
  justify-content: space-between;
}

.toppings-list li:last-child {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.toppings-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.total {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .toppings-list,
  .total {
    width: 90%;
  }
}
